@import url("./roboto.css");

:root {
  --palette-main: #f0f2f5;
  --palette-secondary: #a7adc0;
  --palette-blue: #0331e4;
  --palette-orange: #fc6311;
  --palette-dark-blue: #2b3251;
  --palette-blue-saturated: #415da1;
  --palette-secondary-pale: #af9088;
  --palette-secondary-brown: #91563a;
}
body,
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: var(--palette-main);
}
label {
  pointer-events: none !important;
}

input:invalid {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #ffffff !important;
  color: #555 !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
